<template>
  <div class="dashboard">
    <div class="d-flex flex-wrap justify-space-between align-center mb-7">
      <div class="d-flex personal-info align-center">
        <v-avatar class="mr-4">
          <img src="https://i.pinimg.com/originals/fa/b4/66/fab46653103c05e3c6b94657366fc4bc.png" alt="avatar" />
        </v-avatar>
        <h2>Hawk Fortnite</h2>
      </div>

      <v-col cols="12" md="6">
        <v-text-field v-model="searchQuery" placeholder="Search a task" class="pa-0 ma-0 search-field" color="primary"></v-text-field>
      </v-col>

      <v-switch v-model="isDarkMode" @change="toggleTheme" color="primary" class="theme-switcher"></v-switch>
    </div>

    <h3 class="mb-5">Priority</h3>
    <div class="d-flex justify-space-between">
      <div class="category-row d-flex flex-wrap justify-center justify-md-start">
        <v-card dark color="primary" shaped class="category-card mr-3 mb-3" @click="filterTaskByPriority('')">
          <v-card-title> <v-icon small class="mr-2">mdi-format-list-bulleted-type</v-icon> All </v-card-title>

          <v-card-subtitle>- {{ taskList.length }} Task</v-card-subtitle>
        </v-card>

        <v-card dark :color="Priority.LOW.color" shaped class="category-card mr-3 mb-3" @click="filterTaskByPriority(Priority.LOW.type)">
          <v-card-title> <v-icon small class="mr-2">mdi-information-variant</v-icon> Low </v-card-title>

          <v-card-subtitle>- {{ getAmountByPriority(Priority.LOW.type) }} Task</v-card-subtitle>
        </v-card>

        <v-card
          dark
          :color="Priority.MEDIUM.color"
          shaped
          class="category-card mr-3 mb-3"
          @click="filterTaskByPriority(Priority.MEDIUM.type)"
        >
          <v-card-title> <v-icon small class="mr-2">mdi-star</v-icon> Med.</v-card-title>

          <v-card-subtitle>- {{ getAmountByPriority(Priority.MEDIUM.type) }} Task</v-card-subtitle>
        </v-card>

        <v-card dark :color="Priority.HIGH.color" shaped class="category-card mr-3 mb-3" @click="filterTaskByPriority(Priority.HIGH.type)">
          <v-card-title> <v-icon small class="mr-2">mdi-arm-flex</v-icon> High</v-card-title>

          <v-card-subtitle>- {{ getAmountByPriority(Priority.HIGH.type) }} Task</v-card-subtitle>
        </v-card>
      </div>

      <div class="new-task-trigger">
        <NewTask />
      </div>
    </div>

    <TaskList :list="taskList" :priorityType="priorityType" @deleteEvent="deleteTask($event)" @doneEvent="finishTask($event)" />
  </div>
</template>

<script>
import { TaskList, NewTask } from '../components';
import { mapActions, mapGetters } from 'vuex';

import { Priority } from '../utils/task-priority';

export default {
  name: 'Dashboard',
  components: {
    TaskList,
    NewTask,
  },

  data() {
    return {
      Priority: Priority,
      isDarkMode: this.$vuetify.theme.dark,
      priorityType: '',
      searchQuery: '',
      sheet: true,
    };
  },

  computed: {
    ...mapGetters('tasks', {
      storeTaskList: 'getTaskList',
    }),

    taskList() {
      return this.storeTaskList.filter((item) => this.satisfiesSearchQuery(item.name)).filter((task) => !task.done);
    },
  },

  methods: {
    ...mapActions('tasks', ['deleteTaskStrore', 'updateTask']),

    toggleTheme() {
      this.isDarkMode = !this.$vuetify.theme.dark;
      this.$vuetify.theme.dark = !this.$vuetify.theme.dark;
    },

    getAmountByPriority(priority) {
      return this.taskList.filter((task) => task.priority === priority).length;
    },

    filterTaskByPriority(priority) {
      this.priorityType = priority;
    },

    satisfiesSearchQuery(name) {
      return name.toLowerCase().includes(this.searchQuery.toLowerCase());
    },

    deleteTask(id) {
      this.deleteTaskStrore(id);
    },

    finishTask(id) {
      let completedTask = this.taskList.find((task) => task.id == id);

      completedTask.done = true;
      this.updateTask({ ...completedTask });
    },
  },
};
</script>

<style lang="scss">
.category-card {
  width: 110px;
  cursor: pointer;
}

.search-field {
  height: 50px;
}

@media screen and (max-width: 960px) {
  .theme-switcher {
    position: absolute;
    top: 5px;
    right: 12px;
    z-index: 5;
  }

  .new-task-trigger {
    position: fixed;
    bottom: 75px;
    right: 40px;
    z-index: 5;
  }
}
</style>
