<template>
  <div class="not-found d-flex justify-center align-center">
    <div class="text-center">
      <span class="display-4">404</span>
      <p>The page you were looking for was not foud</p>
      <v-btn :to="{ name: 'dashboard' }">Dashboard</v-btn>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ErrorPage',
};
</script>

<style>
.not-found {
  height: 100vh;
}
</style>
