<template>
  <div class="task">
    <v-btn text :to="{ name: 'dashboard' }">
      <v-icon>mdi-arrow-left</v-icon>
    </v-btn>

    <v-row class="justify-center">
      <v-col v-if="showForm" cols="12" sm="6">
        <v-form v-model="valid" class="text-right" ref="form">
          <v-container>
            <v-select v-model="formData.selectedPriority" :items="prioritesTypesList" filled label="Task priority"></v-select>
            <v-text-field v-model="formData.taskName" :rules="nameRules" label="Task name" required></v-text-field>

            <v-textarea
              v-model="formData.description"
              label="Description"
              hint="Some additional info regarding the task"
              auto-grow
            ></v-textarea>
          </v-container>
          <v-btn :disabled="!isDirtyForm || !valid" text color="success darken-1" @click="updateTaskData()">Save</v-btn>
        </v-form>
      </v-col>
      <v-col v-else cols="12" sm="6">
        <h2>Sorry, we couldn't find this issue.</h2>
        <p>Do you want to create a new one?</p>

        <v-btn color="secondary" @click="createTask()">Create</v-btn>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  name: 'Task',
  props: {
    id: {
      require: true,
    },
  },

  watch: {
    id: {
      immediate: true,
      handler(newVal, oldVal) {
        if (newVal) {
          this.updateFormData();
        }
      },
    },
  },

  data() {
    return {
      showForm: false,
      valid: false,
      formData: {
        taskName: '',
        description: '',
        selectedPriority: '',
      },
      initialData: '',
      prioritesTypesList: ['Low', 'Medium', 'High'],
      nameRules: [(v) => !!v || 'Task name is required'],
    };
  },

  computed: {
    taskInfo() {
      return this.$store.getters['tasks/getTask'](this.id);
    },

    isDirtyForm() {
      return JSON.stringify(this.formData) !== this.initialData;
    },
  },

  methods: {
    ...mapActions('tasks', ['updateTask']),

    updateFormData() {
      if (this.taskInfo) {
        this.formData = {
          taskName: this.taskInfo?.name,
          description: this.taskInfo?.description,
          selectedPriority: this.taskInfo?.priority,
        };

        this.initialData = JSON.stringify(this.formData);
        this.showForm = true;
      } else {
        this.showForm = false;
      }
    },

    createTask() {
      this.showForm = true;
      this.formData = {
        taskName: 'New Task',
        selectedPriority: this.prioritesTypesList[0],
        description: 'Put your description here',
      };
    },

    updateTaskData() {
      let updatedData = Object.assign(
        {},
        {
          id: this.id,
          name: this.formData.taskName,
          description: this.formData.description,
          priority: this.formData.selectedPriority,
        }
      );

      this.updateTask(updatedData);
      this.updateFormData();
    },
  },
};
</script>

<style></style>
