<template>
  <div class="new-task">
    <v-dialog v-model="dialog" persistent max-width="600px">
      <template v-slot:activator="{ on, attrs }">
        <v-btn large fab v-bind="attrs" v-on="on">
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </template>
      <v-card>
        <v-card-title>
          <span class="headline">Add new task</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-form v-model="valid" class="text-right">
              <v-container>
                <v-select v-model="formData.selectedPriority" :items="prioritesTypesList" filled label="Task priority"></v-select>
                <v-text-field v-model="formData.taskName" :rules="nameRules" label="Task name" required></v-text-field>

                <v-textarea
                  v-model="formData.description"
                  label="Description"
                  hint="Some additional info regarding the task"
                  auto-grow
                ></v-textarea>
              </v-container>
            </v-form>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialog = false">
            Close
          </v-btn>
          <v-btn :disabled="!valid" color="success darken-1" text @click="addNewTask()">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'NewTask',
  data() {
    return {
      dialog: false,
      valid: false,
      formData: {
        taskName: '',
        description: '',
        selectedPriority: 'Low',
      },
      prioritesTypesList: ['Low', 'Medium', 'High'],
      nameRules: [(v) => !!v || 'Task name is required'],
    };
  },

  methods: {
    ...mapActions('tasks', ['addTask']),

    addNewTask() {
      let taskData = Object.assign(
        {},
        {
          name: this.formData.taskName,
          description: this.formData.description,
          priority: this.formData.selectedPriority,
        }
      );
      this.addTask(taskData);

      this.dialog = false;
    },
  },
};
</script>

<style></style>
