<template>
  <div class="task-list">
    <v-row>
      <v-col v-for="task in filteredList" :key="task.id" cols="12" sm="6" lg="3">
        <v-card :to="{ name: 'task', params: { id: task.id } }" elevation="4">
          <v-avatar :color="Priority[task.priority.toUpperCase()].color" size="60"></v-avatar>

          <v-card-title>{{ task.name }}</v-card-title>

          <v-card-text>{{ task.description }}</v-card-text>
          <v-card-actions>
            <v-btn icon color="red darken-1" @click.prevent="showDeleteSheet(task.id)">
              <v-icon>mdi-delete</v-icon>
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn small depressed color="success" @click.prevent="doneTask(task.id)">
              Done
              <v-icon>mdi-check</v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>

    <v-bottom-sheet v-model="deleteSheet" persistent>
      <v-sheet class="text-center pt-7" height="200px" rounded>
        <h3 class="mb-5">Are you sure you want to delete this task?</h3>

        <div>
          <v-btn @click="deleteSheet = false" color="secondary" class="mr-4">No, cancel</v-btn>
          <v-btn color="error" @click="deleteTask()">Yes, delete it</v-btn>
        </div>
      </v-sheet>
    </v-bottom-sheet>
  </div>
</template>

<script>
import { Priority } from '../utils/task-priority';

export default {
  name: 'TaskList',
  props: {
    list: {},
    priorityType: {},
  },

  data() {
    return {
      Priority: Priority,
      deleteSheet: false,
      selectedId: '',
    };
  },

  computed: {
    filteredList() {
      if (this.priorityType) {
        return this.list.filter((item) => item.priority === this.priorityType);
      } else {
        return this.list;
      }
    },
  },

  methods: {
    showDeleteSheet(id) {
      this.deleteSheet = true;
      this.selectedId = id;
    },

    deleteTask() {
      this.deleteSheet = false;
      this.$emit('deleteEvent', this.selectedId);
    },

    doneTask(id) {
      this.$emit('doneEvent', id);
    },
  },
};
</script>

<style lang="scss">
.task-card {
  max-width: 320px;
  min-width: 300px;
}
</style>
