<template>
  <div id="app">
    <v-app dark>
      <v-main>
        <v-container>
          <transition name="fade" mode="out-in">
            <router-view />
          </transition>
        </v-container>
      </v-main>
    </v-app>
  </div>
</template>

<script>
export default {
  name: 'App',
};
</script>

<style lang="scss">
body,
#app {
  min-width: 320px !important;
}

#app {
  overflow: hidden;
  width: 100vw;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
  transform: translateX(2em);
}

.fade-enter-active,
.fade-leave-to-active {
  transition: all 0.3s ease;
}
</style>
